body {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  min-height: 100vh; /* 전체 뷰포트 높이 */
  margin: 0; /* 기본 마진 제거 */
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title1 {
  margin-top: 25%;
  text-align: left;
  color: white;
}

.title2 {
  margin-top: 25%;
  text-align: left;
  color: white;
}

form {
  display: flex;
  /* width:70%; */
  flex-direction: column;
  margin-top: 20px;
}

form input[type="file"],
form input[type="submit"],
form textarea,
form select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form input[type="file"] {
  width: 100%;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

form select {
  width: 100%;
}

form textarea {
  resize: vertical;
  min-height: 100px;
  max-width: 100%;
}

<<<<<<< HEAD
.sub {
  margin: 0 50%;
}

.sub2 {
  display: none;
  margin: 10% 40%;
  width: 600px;
}

.sub1 {
  display: none;
  margin: 10% 40%;
  width: 600px;
}

.side {
  margin-top: -10%;
  width: 24%;
  height: 100%;
  background-color: #333;
  position: absolute;
}

.sub_0 {

  margin: 10% 40%;
  width: 600px;
}

/* asdasd */
=======
.mainbox{
  width: 50%;
}
>>>>>>> sungmin
