body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title1 {
  margin-top: 25%;
  text-align: left;
  color: white;
}

.title2 {
  margin-top: 25%;
  text-align: left;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

form input[type="file"],
form input[type="submit"],
form textarea,
form select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form input[type="file"] {
  width: 100%;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

form select {
  width: 100%;
}

form textarea {
  resize: vertical;
  min-height: 100px;
  max-width: 100%;
}

.sub {
  margin: 0 50%;
}

.sub2 {
  display: none;
  margin: 10% 40%;
  width: 600px;
}

.sub1 {
  display: none;
  margin: 10% 40%;
  width: 600px;
}

.side {
  margin-top: -10%;
  width: 24%;
  height: 100%;
  background-color: #333;
  position: absolute;
}

.sub_0 {

  margin: 10% 40%;
  width: 600px;
}